    <% layout("/layouts/boilerplate") %>
    <div class="row"> 
        <div class="col-8 offset-2">
    <h3>Fill the form</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control">
        </div>

        <div class="mb-3">
        <label for="title" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control"><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
        <label for="title" class="form-label">Image URL</label>
        <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="title" class="form-label">Price</label>
        <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control">
        </div>
        
        <div class="mb-3 col-md-8">
        <label for="title" class="form-label">Country</label>
        <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control">
        </div>
        </div>

        <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">
        </div>

        <br>
        <button class="btn btn-dark add-btn">Edit Now</button>
        <br><br>
    </form>
</div>
</div>